.techBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
    width: 100%;
}

.textContainer {
    position: absolute;
    width: 100vw;
}

.typing {
    overflow: hidden;
    color: #fff;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 100vw;
    font-size: 2rem;
    text-align: center;
    animation: fading 2s steps(22) 1s 1 normal both;
}

.highlighted {
    color: #4a90e2;
    font-weight: 700;
}

@keyframes fading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .typing {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .typing {
        font-size: 1.5rem;
    }
}
