.navBarSection {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 10vw;
    margin-top: 3vh;
}

.navbarLinks {
    // padding-right: 1rem;
    z-index: 100;
}
