.title {
    color: #4a90e2;
    width: fit-content;
    text-align: start;
    font-size: 2.2rem;
    display: grid;
    grid-row: 1;
}

.text {
    color: #fff;
}

.text,
.imageWrapper {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.customIframe {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-self: center;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    align-items: start;
    animation: fadeIn 1s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: #272a30;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: auto;
    max-width: 1500px;
}

.container {
    height: 100vh;
}

.section {
    margin-top: 50px;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animateCard {
    animation: fadeIn 1s ease-out forwards;
}

.infoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.text {
    width: 60%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .text {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .wrapper {
        height: 90vh;
    }

    .image {
        max-width: 70%;
    }

    .infoSection {
        display: flex;
        flex-direction: column;
    }
}
