// AboutMe.module.scss

.title {
    color: #4a90e2;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
    font-size: 2.2rem;
}

.text {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.customIframe {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-self: center;
}

.wrapper {
    animation: fadeIn 1s ease-in-out;
    opacity: 0; // Start with sections invisible
    animation-fill-mode: forwards; // Keep the state at the end of the animation
    background-color: #272a30; /* Card background color */
    padding: 20px; /* Inner spacing */
    margin: auto;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effect */
    width: 100%;
    height: 70%;
    max-width: 1500px;
}

.container {
    height: 100vh;
}

.section {
    margin-top: 50px;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animateCard {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .wrapper {
        height: 90vh;
    }

    .image {
        max-width: 60%;
    }

    .text {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    .typing {
        font-size: 1.5rem; // Smaller font size for tablets
    }
}

// Example media query for mobile devices
@media (min-width: 1025px) {
    .infoSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .text {
        width: 60%;
    }
}
