.footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.githubImage {
  max-width: 5rem;
  max-height: 5rem;
  min-width: 3rem;
  min-height: 3rem;
}

.linkedinImage {
  padding-top: 1rem;
  max-width: 5rem;
  max-height: 5rem;
  min-width: 3rem;
  min-height: 3rem;
  align-self: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

@media screen and (max-width: 1918px) {
  .socials {
    padding: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 766px) {
  .socials {
    padding: auto;
    align-items: center;
    justify-content: center;
  }
}
