.wholeProjectSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px;
    height: 600px; */
}

.projectSection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 800px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.leftArrow,
.rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #333;
    cursor: pointer;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 50%;
}

.leftArrow {
    left: 0;
}

.rightArrow {
    right: 0px;
}

.projectActive {
    display: flex; /* Flex to center the content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    transition: all 0.3s ease-in-out;
}

.projectNotActive {
    display: none;
}

@media (min-width: 1025px) {
    .projectActive {
        height: 500px;
    }
}

@media (min-width: 768px) {
    .projectActive {
        height: 700px;
    }
}
